<div id="main" class="main-container container">
  <div class="row">
    <div class="sidebar wiki-sidebar col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="markdown">
            <h3>公告</h3>
            <ol class="notices">
              <% @notices.each do |notice| %>
                <li>
                  <%= link_to notice.title, notice_path(notice) %>
                  <p class="time">
                    Posted <%= notice.created_at.to_s(:db) %>
                  </p>
                </li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
