<% provide(:title, @notice.title) %>
<div class="col-md-10">
  <div class="panel panel-default">
        <div class="panel-heading"><%= @notice.title %>  Posted <%= @notice.created_at.to_s(:db) %></div>
        <div class="panel-body"><%= raw @notice.body %></div>
        <div class="panel-footer"></div>
  </div>
</div>
