<% provide(:title, "New taxon") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for [:admin, @taxon] do |f| %>
        <%= f.input :list ,as: :wysihtml5 %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
